<h1 class="center">Liste de pokémons favoris</h1>

<div class="container">

  <div class="right section">
    <a (click)="goBack()" class="btn waves-effect waves-light grey">
      <i class="material-icons left">arrow_back</i> Retour
    </a>
    <button (click)="navigateTocreatePokemon()" style="margin-left: 3px;" class="btn waves-effect waves-light">Ajouter un pokémon</button>
  </div>

  <app-search-pokemons></app-search-pokemons>

  <div class="col s12">
    @for (pokemon of pokemons; track pokemon.id) {

      <div class="col s6 m4">
        <borderCard class="card horizontal" (click)="selectPokemon(pokemon)">
          <div class="card-image">
            <img [src]="pokemon.picture" [alt]="pokemon.name">
          </div>

          <div class="card-stacked">
            <div class="card-content">
              <p>{{ pokemon.name }}</p>
              <p><small>{{ pokemon.created | date: 'dd/MM/yyyy' }}</small></p>
              @for (type of pokemon.types; track $index) {
                <span class="{{ type | pokemonTypeColor }}">{{ type }}</span>
              }
            </div>
          </div>

          <div>
            @if (pokemon.isFavorite) {
              <a style="cursor: pointer;" (click)="removeToFavoris(pokemon)">
                <i class="material-icons">star</i>
              </a>

            }
            @else {
              <a style="cursor: pointer;" (click)="addToFavoris(pokemon)">
                <i class="material-icons">star_border</i>
              </a>
            }

          </div>

        </borderCard>
      </div>

    }
  </div>

</div>
